@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

:root {
    --main-color : #d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --boorder: .1rem solid rgba(255,2555,255,.3);
}

*{
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
      text-transform: capitalize;
      transition: 0.3s;
      scroll-behavior: smooth;
}

body {
    background: var(--bg);
    overflow-x: hidden;
    width: 100vw;
}

.btn{
    background: var(--main-color);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    width: 200px;
    color: #010103;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--boorder);
    position: sticky;
    padding:10px 40px; 
}

.header .logo img {
    height: 50px;
    width: 70px; 
}

.header .navbar a{
    margin:  0 7px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
}

.header .cart{
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin:0 10px;
} 

.header .cart:hover{
    color: var(--main-color);
}

.header .cart-items-container{
    position: fixed;
    top: 75px;
    right: -400px;
    height: 70vh;
    width: 18rem;
    background: #fff;
    padding: 0 1.5rem;
    overflow-y: auto;
}

.header .active{
    right:0;
}

.header .cart-items-container .cart-item{
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
 
.header .cart-items-container .cart-item .fa-times{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item h3{
    font-size: 1.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .price{
      font-size: 1.2rem;
      color: rgb(24, 8, 85);
}

.icons-mobile{
    display: none;
}

/*home section*/

.home {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-image: url(image/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

.home .content {
        margin: 0 90px;
        width: 40rem;
}

.home .content h3{
        font-size: 3rem;
        text-transform: uppercase;
        color: #010103;
}

.home .content p{
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.4;
        padding: 3rem 1rem;
        color: #080808;
}

.home .btn{
        margin-left: 1rem ;
}

/*about*/

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 2.5rem 0;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
}

.about .row .content{
    text-align: start;
    flex: 1;
    padding: 20px;
}

.about .row .image{
    flex: 1;
    align-self: stretch;
}

.about .row img{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.2;  

}

/*menu*/

.menu .box-containers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 50px;
}

.menu .box-containers .box{
        width: 31%;
        min-width: 260px;
        height: 17rem;  
        padding: .3rem;
        text-align: center;
        border: solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 7px;
}

.menu .box-containers .box h3{
        color: #fff;
        font-size: 1.7rem;
        padding: .5rem 0;
}

.menu .box-containers .box .price{
        color: #fff;
        font-size: 1.8rem;
        padding: .5rem 0;    
}

.menu .box-containers .box .price span{
        color: #fff;
        font-size: 1.5rem;
        text-decoration: line-through;
}

.menu .box-containers .box:hover{
        background: #fff;
}

.menu .box-containers .box:hover .price,
.menu .box-containers .box:hover .price span,
.menu .box-containers .box:hover h3{
        color: var(--black);
}

/*workers*/

.workers .box-containers{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.workers .box-containers .box{
    width: 31%;
    min-width: 250px;
    padding: 1rem;
    text-align: center;
    border: solid #fff;
    margin: 7px;
}

.workers .box-containers .box p{
        font-size: 1.4rem;
        line-height: 1.2;
        color: #ccc;
        padding: 2rem 0;
}

.workers .box-containers .box img{
        height: 100px;
        width: 80px;
        border-radius: 20px;
        object-fit: cover;
}

.workers .box-containers .box h3{
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
}

   /* review */

.review .box-containers{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.review .box-containers .box{
    width: 31%;
    min-width: 250px;
    padding: .3rem 1rem;
    text-align: center;
    border: solid #fff;
    margin: 7px;
}
.review .box-containers .box p{
    font-size: 1.6rem;
    line-height: 1.2;
    color: #ccc;
    padding: 1rem 0;

}
.review .box-containers .box .user{
    height: 100px;
    width: 80px;
    border-radius: 50px;
    object-fit: cover;
}
.review .box-containers .box h3{
    padding: 1rem;
    font-size: 1.6rem;
    color: #fff;
}
.review .box-containers .box .stars i{
    font-size: 1.5rem;
    color: var(--main-color);
}

.review .box-containers .box .quote{
    width:80px;
}

/*contact*/

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row form{
    flex: 1;
    padding: 1rem .7rem;
    text-align: center;
    width: 100%;
} 

.contact .row form h3 {
    text-transform: uppercase;
    font-size:2rem;
    color: #fff;
}

   .contact .row form .inputbox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    background: black;
    border: white solid;
}

   .contact .row form .inputbox span{
    color: #fff;
    font-size: 1rem;
    padding-left: 1rem;
}

.contact .row form .inputbox input{
    padding: 1rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/*footer*/

.footer{
    background: black;
    text-align: center;
}

.footer .share{
   margin: 1rem 0;
}

.footer .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: #fff;
    margin: .3rem;
    border-radius: 50%;   
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    margin-bottom: 30px;
}

.footer .links a{
    padding: .2rem ;
    color: #fff;
    border: var(--boorder);
    font-size: 1.3rem;
    margin: 5px;
    display: inline-block;
}

.footer .links a:hover{
    background-color: var(--main-color);
}

/*media start*/

@media  screen and (max-width:799px) {
    .navbar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 180px;
        height: 60vh;
        position: fixed;
        top: 0;
        right: -180px;
        background-color: var(--bg);
        justify-content: flex-start;
        padding: 70px 0 20px 20px;
    }

    #close{
        display: inline;
        position: absolute;
        top: 15px;
        font-size: 25px;
        color: #ccc;
        cursor: pointer;
    }

    #close:hover{
        color: var(--main-color);
    }

    .icons-mobile{
        display: block;
    }

    .icons-mobile i{
        font-size: 30px;
        color: #ccc;
        cursor: pointer;
        margin: 0 10px;
    }

    .icons-mobile i:hover{
        color: var(--main-color);
    }

    .about .row .image {
       display: none;
    }

    .about .row .content{
        padding: 50px;
    }

    .menu .box-containers ,
    .workers .box-containers,
    .review .box-containers{
        justify-content: center;
        gap: 20px;
    }

    .contact iframe{
        width: 100%;
    }
}

@media screen and (max-width:477px) {

    .heading{
        font-size: 2rem;
    }

    .home .content{
        margin: 0 30px;
    }

}

/*media end
